aws_region            = "eu-north-1"
project_name          = "newlunchapp"
dynamodb_table_name   = "newlunchapp-data"
cognito_user_pool_id  = "eu-north-1_XXXXXXXXX"
cognito_app_client_id = "xxxxxxxxxxxxxxxxxxxxxxxxxx"
